<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Sign In</h1>
        <a ></a>
    </header>
    <form action="#"
         th:action="@{/login}"
         method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="username">
        </div>
        <div>
            <label for="email">email</label>
            <input type="text" id="email" name="email" placeholder="email">
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>