<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profiles</title>
</head>
<body>
    <h1>Registered users:</h1>
    <div class="users-container">
        <div class="user" th:each="user:${users}">
            <p th:text="${user.username}">Username</p>
            <p th:text="${user.email}">User email</p>
            <h5>movies:</h5>
            <ul th:each="movie : ${user.moviesList}">
                <li th:text="${movie.name}">Movies</li>
            </ul>
        </div>
    </div>
</body>
</html>